nav.navbar.navbar-inverse.navbar-fixed-top
  div.container
    div.navbar-header
      a.navbar-brand(href='#') Eyetracker Webapp
    div.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='index') Home
        li
          a(href='student') Student Profiles
